<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCivbu5WpHU90Zrp2mGVezNB9EPgLlZroQ</string>
	<key>GCM_SENDER_ID</key>
	<string>510679965006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yandexLocation</string>
	<key>PROJECT_ID</key>
	<string>yandex-location</string>
	<key>STORAGE_BUCKET</key>
	<string>yandex-location.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510679965006:ios:9da7b801e119ba09c7921f</string>
</dict>
</plist>